@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
  
}
body{
    background-image: linear-gradient(to right, #BD883F, #C7994B, #CBA14F);
}
main{
    background-color: white ;
    border-radius: 10px;
    box-shadow:5px 5px 15px #5d4a246c;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #EDDD78;
    text-align: center;
    text-shadow: 1px 1px 2px #968c4bb4;
}
h2{
    color: #5D4A24;
}


p{
    text-align: justify;
}